<?php
$finder = \PhpCsFixer\Finder::create()
    ->notPath('bootstrap/cache')
    ->notPath('storage')
    ->notPath('routes')
    ->notPath('vendor')
    ->in(__DIR__)
    ->name('*.php')
    ->notName('*.blade.php')
//    ->notName('_ide_helper*.php')
    ->notName('.phpstorm.meta.php')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true);

return \PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'binary_operator_spaces' => ['align_double_arrow' => false],
        'array_syntax' => ['syntax' => 'short'],
        'linebreak_after_opening_tag' => true,
        'not_operator_with_successor_space' => false,
        'ordered_imports' => true,
        'phpdoc_order' => true,
        'phpdoc_summary' => false,
        'blank_line_after_namespace' => false,
        'line_ending' => false,
    ))
    ->setLineEnding(PHP_EOL)
    ->setFinder($finder);
